
<%@posts.each do |post|%>
	<div align="center"><strong><p><%=post.bru_name%></p></strong>
	<p><%=post.title%></p>
	<p><%=post.body%></p>
	<%= link_to 'View', post %>
	<%= link_to 'Edit', edit_post_path(post) %>
	<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
</div><%end%>
<!-- Create the rest of your views in the posts folder -->
